body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.search-box {
  margin-bottom: 10px; /* Adjust margin as needed */
}

button {
  margin-top: 5px; /* Adjust margin as needed */
}

.btn {
  margin-right: 10px; /* Adjust margin between buttons as needed */
}
